.flex-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.oscuro{ 
    background-color: black;
    color: white;
}

.claro{
    background-color: white;
    color: black;
}
